<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons%405.13.2%3A%2Fdemos%2Fsrc%2Fdemo.scss%2Co-fonts%2Co-normalise&amp;brand=master">
  <link rel="stylesheet" href="/css/index.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="weather-container">
      <div class="weather-head">
        <div>
          <a href="/"> Check The Weather</a> 
        </div>
        <div>
          <a href="/howitworks">How it works</a>
        </div>
      </div>
    </div>   
  </header>
  
