<% include partials/header %>

<p> <%= error %></p>
<ul>
  <li>To make it more precise put the city's name and the name of the country or 2-letter country code on the provided field.</li>
  <li>Exasmple - city: London | country: UK or United Kingdom ,  city: Berlin | country: Germany or DE</li>
</ul>
<% include partials/footer %>
