<% include partials/header %>
<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left">Go back</button>
<div class="weather-container">
  <ul>
    <li>To make it more precise put the city's name and the name of the country or 2-letter country code on the provided field.</li>
    <li>Exasmple - city: London | country: UK or United Kingdom ,  city: Berlin | country: Germany or DE</li>
  </ul>
</div>
<% include partials/footer %>
