<% include partials/header %>
  <div class="weather-container">
      <div class="weather-container">
          <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left">
            <a href="/"> Go back </a>
          </button>
          <p class="how"> <%= error %></p>
        </div>
  </div>
<% include partials/footer %>
