<% include partials/header %>
<div class="weather-container">
  <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left">Go back</button>
  <p> <%= error %></p>
</div>
<% include partials/footer %>
